body{
    background-color: rgb(78, 50, 25);
}

.title{
    color: gray;
    font-weight: bold;
    font-size: 3rem;
    text-align: left;
}
.text-red {
    color: gray; /* Crimson color */
    font-weight: bold;
}

input[type="text"] {
    background-color: gray;
    color: rgb(78, 50, 25);
    border: 2px solid rgb(78, 50, 25); 
    font-weight: bold;
}

option {
    background-color: gray;
    color: rgb(78, 50, 25);
    border: 2px solid rgb(78, 50, 25); 
    font-weight: bold;
    
}

label {
    color: gray;   
    font-weight: bold;
}

.big-img {
    width: 600px;    
    max-width: 100%;
    height: auto;
}

.mt-up {
    margin-top: -35rem; 
}